<h1>No. of Image {{ pITableLength }}</h1>
<h1>No. of Labeled Image {{ isPTableLength }}</h1>

<p>
    <a href="updateDB/">Update</a>
</p>

<p>
    <a href="show/0">Show Without Prediction</a>
</p>

<p>
    <a href="show/1">Show with Prediction</a>
</p>

<p>
    <a href="generateImage/0">Generate with Standard GAN</a>
</p>

<p>
    <a href="generateImage/1">Generate with CAAE</a>
</p>

<p>
    <a href="learnImage/">Learn Images</a>
</p>

<!-- <p>
    <a href="clearDataset/">Clear Dataset</a>
</p> -->