{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<input type="image" src="{% static imageToShow %}" onClick="window.location.reload();" style="max-width:100%;height:auto"/>

<p>Confidence: {{ isPPrediction }}</p>

<p>Is this expected picture?</p>

<form action="/images/labelImage/{{ withPrediciton }}/" method="post">
  {% csrf_token %}
  <input id="path" type="hidden" name="path" value="{{ imageToShow }}">
  <input id="isP" type="hidden" name="isP" value="{{ 1 }}">
  <input id="Yes" type="submit" value="Yes">
</form>

<form action="/images/labelImage/{{ withPrediciton }}/" method="post">
  {% csrf_token %}
  <input id="path" type="hidden" name="path" value="{{ imageToShow }}">
  <input id="isP" type="hidden" name="isP" value="{{ 0 }}">
  <input id="No" type="submit" value="No">
</form>

<p>
    <a href="/images/">Images Home</a>
</p>

<style> 
    input[id="No"]{
      background-color: #ee1009;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    input[id="Yes"]{
      background-color: #0bf408;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
</style>